<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>pastebucket :: {{params.id}} :: edit</title>
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body>
		<header>
			<h1><a href="{{params.url}}">pastebucket</a></h1>
			<hr>
		</header>
		<nav>
			<ul>
				<li><a href="{{params.url}}/{{params.id}}">{{params.id}}</a></li>
				<li><a href="{{params.url}}/{{params.id}}/edit"><strong>edit</strong></a></li>
				<li><a href="{{params.url}}/{{params.id}}/raw">raw</a></li>
			</ul>
		</nav>
		<form action="/" method="post">
			<textarea id="paste_area" autofocus name="text" onkeydown="ctrl_enter(event);">{{#each paste}}
{{this.line}}
			{{~/each}}</textarea>
			<p><input id="paste_button" type="submit" value="submit"></p>
		</form>
		<script>
			function ctrl_enter(e) {
				if (e.keyCode == 13 && e.ctrlKey) {
					document.getElementById("paste_button").click();
				}
			}
		</script>
	</body>
</html>
